h1 {
    font-family: 'Muli', sans-serif;
    font-size: 53px;
}
.welcome {
  position: fixed;
  background-color: rgba(0, 85, 128, 1);
  color: #fff;
  margin-bottom: -8px;
  margin-right: -8px;
  height: 25%;
}
#two {
  margin-bottom: auto 30px;
  color: #fff;
}
#one{
  color: #fff;
}
#three {
  border-bottom: solid #ff0000;
}
#four {
  border-bottom: solid #ff0000;
}
h2 {
    font-family: 'Muli', sans-serif;
    font-size: 25px;
}
.bod {
    font-family: 'Rubik', sans-serif;
    margin-left: 25px;
    margin-right: 25px;
}
.mess {
  margin-top: 8%;
  border-style: groove;
  border-color: #000000;
  border-width: thin;
  border-radius: 5px;
}
h3 {
    font-family: 'Yantramanav', sans-serif;
    font-size: 28px;

}
p {
    font-family: 'Architects Daughter', cursive;
    font-size: 23px;
}
a {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
}

img {
    height: 200px;
    width: 200px;
}