{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Svoop</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/index.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Quicksand|Permanent+Marker" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                    <a class="navbar-brand" href="{% url 'blog:home' %}" id="brand">Svoop</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="#"><span id="podium">Podium</span></a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><img id="Userimage" alt="UserImage" src="http://res.cloudinary.com/doppel/image/upload/c_thumb,g_face,h_200,r_max,w_200/v1481639812/home-user-icon_je9kjh.png">
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="username"><span class="username"></span><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="account" id="account">My Account</a></li>
                                <li><a href="{% url 'blog:logout' %}" id="logout">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </div>
    </nav>

    <!-- main body starts -->
    <div class="container">
        <div class="row">
            <div class="col-lg-3 left-wrapper">
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation" class="active" id="recent"><a href="#">Recent <span class="glyphicon glyphicon-time" aria-hidden="true"></span></a></li>
                    <li role="presentation" id="trending"><a href="#">Trending <span class="glyphicon glyphicon-fire" aria-hidden="true"></span></a></li>
                    <p>Have something to say?</p>
                    <button type="button" class="btn btn-success btn-lg btn-block write">Write It  <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></button>
                </ul>
            </div>
            <div class="col-lg-9 feed-wrapper">
                <div id="feed-wrapper">
                    <!-- <div class="box">
                        <h1 class="title">Something somethin'</h1>
                        <hr class="divider">
                        <p class='matter'>sdoio efinodnfoq jienoqijepqo ofqefhondoaine jkefoenf jjndunwkejfq njdieqfoe djneejfe hiefjniuh sifuvhw jfwiuij nwi jdioweino koiwoifiwoejp ojoi</p>
                        <button type="button" class="btn btn-primary btn-sm upvote">Upvote<span class="badge">42</span></button>
                        <button type="button" class="btn btn-default btn-sm downvote">Downvote</button>
                    </div> -->
                </div>
                <nav aria-label="paginator" id="pager">
                    <ul class="pager">
                        <li class="previous" id="previous"><a href="#"><span aria-hidden="true">&larr;</span> Previous</a></li>
                        <li class="next" id="next"><a href="#">Next <span aria-hidden="true">&rarr;</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="{% static 'blog/main.js' %}"></script>
</body>

</html>
