{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Simple Blog</title>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/index.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter|Muli|Rubik|Yantramanav" rel="stylesheet">
</head>
<body>
{% if error_message %}
    <div>
        <h2 align="center">{{ error_message }}</h2>
    </div>
{% endif %}
<form action="{% url 'blog:login' %}" method="post">
    {% csrf_token %}
    <div class="foo">
      <div class="pi">
    <input class="form" type="text" placeholder="Enter your Username"><br>
    <input class="form" type="password" placeholder="Enter your Password"><br>
    <input id="sub" type="submit" value="LOGIN">
  </div>
  </div>
</form>
</body>
