{% load static %}
{% load cloudinary %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Svoop</title>
    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter|Muli|Rubik|Yantramanav" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/account.css' %}">
</head>
<body>
<div class="welcome">
    <h1 align="center">Welcome <strong>{{ user.username }}</strong></h1>
    <a href="{% url 'blog:home' %}" class="btn btn-info" role="button">Go to HomePage</a>
</div>
<br><br>
<br><br>
{% if message %}
    <div class="mess">
        <h2 align="center">{{ message }}</h2>
    </div>
{% endif %}
<br><br><br><br><br>
{% if image_url %}
    <img src={{ image_url }}>
{% else %}
    <img src="http://res.cloudinary.com/doppel/image/upload/c_thumb,g_face,h_200,r_max,w_200/v1481639812/home-user-icon_je9kjh.png">
{% endif %}
<p>Change profile image</p>
<form action="{% url 'blog:set_image' user.id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="id_image">Choose a image</label>
    <input type="file" name="image" id="id_image">
    <input type="submit" value="Upload">
</form>
<a href="{% url 'blog:logout' %}" class="btn btn-primary">Logout</a>
<a id="one" href="{% url 'blog:new-blog' user.id %}" class="btn btn-primary btn-lg btn-block"><strong>Create
    Blog</strong></a>
<br>
{% if saved_blogs %}
    <h3 id="three">Your saved blogs are here</h3>
    {% for a_blog in saved_blogs %}
        <div class="bod">
            <h2>{{ a_blog.title }}</h2>
            <p>{{ a_blog.text }}</p>
            <a href="{% url 'blog:edit-blog' user.id a_blog.id %}">Edit Blog</a> &nbsp; &nbsp;
            <a href="{% url 'blog:publish-blog' user.id a_blog.id %}">Publish Blog</a>
            <hr>
        </div>
    {% endfor %}
{% endif %}
<br><br><br>
{% if published_blogs %}
    <h3 id="four">Your published blogs are here</h3>
    {% for b_blog in published_blogs %}
        <div class="bod">
            <h2>{{ b_blog.title }}</h2>
            <strong>Published Date </strong>: {{ b_blog.published_date }}
            <p>{{ b_blog.text }}</p>
            <hr>
        </div>
    {% endfor %}
{% endif %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
