body {
    background-image: url("register.64d7d39b3b3d.jpg");
    background-size: cover;
}

.regform {
    width: 60%;
    margin-left: 500px;
    margin-top: 40px;
}

h2 {
    font-family: 'Quicksand', sans-serif !important;
    margin-left: 550px;
    color: white !important;
    font-size: 90px !important;
}

.form-horizontal {
    color: white;
}

input.form-control.form {
    width: 400px !important;
    height: 50px !important;
    font-size: 18px !important;
    font-family: 'Quicksand', sans-serif !important;
    font-weight: 700 !important;
}

.form-group {
    margin-bottom: 20px !important;
}

.form-horizontal .form-group {
    margin-right: -15px !important;
    margin-left: 300px !important;
}

.fa {
    font-size: 25px !important;
}

.fa-arrow-right {
    font-size: 17px !important;
}

.btn {
    height: 40px;
    width: 110px;
    margin-left: 140px;
    font-size: 17px !important;
    border-radius: 150px !important;
}

.btn-default:hover {
    background-color: #209bfb !important;
    color: white !important;
}

.btn-default:active {
    background-color: #083151 !important;
    color: white !important;
}

.alert {
    padding: 10px !important;
}
